{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="m-t-20 alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}
	<div class=" m-t-20 p-t-20 p-b-20 p-l-20 p-r-20">
		<h4  class="font-weight-bold">Ingresa</h4>
		<form action="{{ path('security_login') }}" method="post" class="form-inline">
			<div class="input-group m-r-10 m-t-10">
				<input type="text" id="username" name="_username" required="required" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" 
					value="{{ last_username }}">
			</div>
			<div class="input-group m-r-10 m-t-10">
				<input type="password"  id="password" name="_password" required="required" class="form-control" placeholder="Contraseña" aria-label="password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group m-t-10">
				<button type="submit" id="Login" name="Login" class="btn btn-sm btn-outline-secondary">Entra en tu perfil</button>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
		
		</form>
	</div> 
{% endblock %}


