{% extends 'base.html.twig' %}

{% block body %} 
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op0").style.color="salmon";
            document.getElementById("op0t").style.color="white";
        }
    </script> 
    <!-- Home -->
	<div class="home">
		<div class="home_slider_container">		
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(img/categories/youtuber.jpg);"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Live Video Events Marketplace</div>
									<div class="home_slider_subtitle">Buy and sell access to videos and live online events</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                                <input type="search" class="home_search_input" placeholder="Search influencer name, live event, category, profession,skill,hobby,tag..." required="required">
                                                <button type="submit" hidden></button>
                                            </div>								   
                                        </form> 
									</div>
                                    <div class="fs-20 text-white p-t-10">Trending searches: influencer,instagram,fitness,love,house</div>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Features -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class=" feature_introducion text-center">
						<h2 class="titulo text_mobil_titulo ">You´re In</h2>
						<div class=" feature_text_intro text_mobil_subtitulo fs-25">
                            <div>Talk face-to-face with anyone online,</div>
                            <div>either in a private video meeting or live group evente</div>
                        </div>    
					</div>
				</div>
			</div>
			<div class="row features_row ">			
				<!-- Features Item -->
				<div class="col-md-4">
					<div class="feature ">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura3.png') }}" />
						<h3 class="feature_title feature1 ">GET STARTED</h3>
						<div class="feature_text"><p class="float-left">Register your gotmy account & discover increible live video events</p></div>
                    </div>
				</div>
				<!-- Features Item -->
				<div class="col-md-4">
					<div class="feature">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura1.png') }}" />
						<h3 class="feature_title feature2 ">GET ACCESS</h3>
						<div class="feature_text"><p class="float-left">Book an influencer,professional and skilled people after previewing their live group event or requesting a private video meeting</p></div>
					</div>
				</div>

				<!-- Features Item -->
				<div class="col-md-4">
					<div class="feature">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura2.png') }}" />
						<h3 class="feature_title feature3 ">GET THEIR ATTENTION</h3>
						<div class="feature_text"><p class="float-left">Engage,live,directly with the influencer, professional and skilled people in a small venue where your voice will be heard</p></div>
					</div>
				</div>
			</div>
            <div class="row raya">
               <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>         
                 <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>
                <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>
            </div>
		</div>
	</div>
    <!-- Live Events -->
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Live Online Events</p></div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/cooking.jpg') }}"/>
                            <div class="icono-encima"><a href="#" class="size_icon">{{source('@public_path'~asset('/img/iconos/button-live.svg')) }}</a></div>
                            <div class="texto-encima text-white fs-30">Thrill Friends And Family With a Make...
                                <p class="fs-20">Cooking</p>
                            </div>
                        </div>                    
                        <div class="card-body">
                           <div class="float-left"><img src="{{ asset('img/Captura5.png') }}" /></div>
                            <div class="card-text float-right">
                                <p>
                                    <span>Stella Richardson</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                </p>
                                <div class="fs-20">
                                    <p><span class="map">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Singapur</span></p>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="cont-img-card">
                        <img class="card-img-top" src="{{ asset('img/categories/tiktok.jpg') }}"/>
                            <div class="icono-encima"><a href="#" class="size_icon">{{source('@public_path'~asset('/img/iconos/button-live.svg')) }}</a></div>
                            <div class="texto-encima text-white fs-30">Thrill Friends And Family With a Make...
                                <p class="fs-20">Cooking</p>
                            </div>
                        </div> 
                        <div class="card-body">
                            <div class="float-left"><img src="{{ asset('img/Captura5.png') }}" /></div>
                            <div class="card-text float-right">
                                <p>
                                    <span>Stella Richardson</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                </p>
                                <div class="fs-20">
                                    <p><span class="map">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Singapur</span></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card ">
                      <div class="cont-img-card">
                        <img class="card-img-top" src="{{ asset('img/categories/fitness.jpg') }}"/>
                              <div class="icono-encima"><a href="#" class="size_icon">{{source('@public_path'~asset('/img/iconos/button-live.svg')) }}</a></div>
                            <div class="texto-encima text-white fs-30">Thrill Friends And Family With a Make...
                                <p class="fs-20">Cooking</p>
                            </div>
                        </div> 
                        <div class="card-body">
                            <div class="float-left"><img src="{{ asset('img/Captura5.png') }}" /></div>
                            <div class="card-text float-right">
                                <p>
                                    <span>Stella Richardson</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                </p>
                                <div class="fs-20">
                                    <p><span class="map">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Singapur</span></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
    <!-- Upcoming Events -->
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Upcoming Live  Events</p></div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="cont-img-card ">
                            <img class="card-img-top" src="{{ asset('img/categories/gamming.jpg') }}"/>                 
                            <div class="icono-encima">
                                <div>
                                    <div class="bookmark">{{source('@public_path'~asset('/img/iconos/ic-bookmark.svg')) }}</div>
                                </div>
                            </div>    
                            <div class="row cuadro_encima">                                             
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{ asset('img/Captura5.png') }}" /></div>
                                        <div class="col-md-6">
                                            <p class="text-white">MandyJTV</p>
                                            <p>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                            </p>
                                        </div>  
                                    </div>      
                                </div>                             
                                <div class="col-md-5 text-right">
                                    <p class="text-white fs-20 "><span class="star">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>34</p>
                                    <p class="text-white ">Only 2 tickets left</p>
                                </div>                         
                            </div>
                        </div>                    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="float-left">
                                        <div class="font-weight-bold">21</div>
                                        <div class="font-weight-bold  color_salmon">DEC</div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="card-text">
                                        <div class="font-weight-bold ">String Live Event Title</div>
                                        <div class="color_salmon">Games</div> 
                                        <div class="map fs-15">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Live from New York,at 18:30</div>                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="cont-img-card ">
                            <img class="card-img-top" src="{{ asset('img/categories/fashion.jpg') }}"/>                 
                            <div class="icono-encima">
                                <div>
                                    <div class="bookmark">{{source('@public_path'~asset('/img/iconos/ic-bookmark.svg')) }}</div>
                                </div>
                            </div>    
                            <div class="row cuadro_encima">                                             
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{ asset('img/Captura5.png') }}" /></div>
                                        <div class="col-md-6">
                                            <p class="text-white">MandyJTV</p>
                                            <p>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                            </p>
                                        </div>  
                                    </div>      
                                </div>                             
                                <div class="col-md-5 text-right">
                                    <p class="text-white fs-20 "><span class="star">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>34</p>
                                    <p class="text-white ">Only 2 tickets left</p>
                                </div>                         
                            </div>
                        </div>                    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="float-left">
                                        <div class="font-weight-bold">21</div>
                                        <div class="font-weight-bold  color_salmon">DEC</div>
                                    </div>            
                                </div>
                                <div class="col-md-10">
                                    <div class="card-text">
                                        <div class="font-weight-bold ">String Live Event Title</div>
                                        <div class="color_salmon">Games</div> 
                                        <div class="map fs-15">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Live from New York,at 18:30</div>                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="cont-img-card ">
                            <img class="card-img-top" src="{{ asset('img/categories/nature.jpg') }}"/>                 
                            <div class="icono-encima">
                                <div>
                                    <div class="bookmark">{{source('@public_path'~asset('/img/iconos/ic-bookmark.svg')) }}</div>
                                </div>
                            </div>    
                            <div class="row cuadro_encima">                                             
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{ asset('img/Captura5.png') }}" /></div>
                                        <div class="col-md-6">
                                            <p class="text-white">MandyJTV</p>
                                            <p>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                            </p>
                                        </div>  
                                    </div>      
                                </div>                             
                                <div class="col-md-5 text-right">
                                    <p class="text-white fs-20 "><span class="star">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>34</p>
                                    <p class="text-white ">Only 2 tickets left</p>
                                </div>                         
                            </div>
                        </div>                    
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-2">                 
                                    <div class=" font-weight-bold">21</div>
                                    <div class="font-weight-bold  color_salmon">DEC</div>                           
                                </div>
                                <div class="col-md-10 ">
                                    <div class="card-text">
                                        <div class="font-weight-bold ">String Live Event Title<div>
                                        <div class="color_salmon ">Games</div> 
                                        <div class="map fs-15">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Live from New York,at 18:30</div>                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                           
            </div>
        </div>
    </div>
    </div>

    <!-- Discover Category -->
    <div class="category ">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Discover by Category</p></div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/art-culture.jpg') }}"/>
                            <div class="texto-encima text-white fs-20 ">Art&Culture</div>
                        </div>                                 
                    </div>         
                </div>
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/business.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Bussiness</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/carft.jpg') }}"/>
                            <div class="texto-encima text-white fs-20 ">Carft</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/celebrity.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Celebrity</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/education.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Education</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/fashion.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Fashion</div>
                        </div>                                 
                    </div>         
                </div>  
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/instagrammer.jpg') }}"/>
                            <div class="texto-encima text-white fs-20 ">Instagrammer</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/manga.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Manga</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/motor.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Motor</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/parenting.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Parenting</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/religion.jpg') }}"/>
                            <div class="texto-encima text-white fs-20 ">Religion</div>
                        </div>                                 
                    </div>         
                </div> 
                 <div class="col-md-2">
                    <div class="card ">
                        <div class="cont-img-card">
                            <img class="card-img-top" src="{{ asset('img/categories/sports.jpg') }}"/>
                            <div class="texto-encima text-white fs-20">Sports</div>
                        </div>                                 
                    </div>         
                </div>         
            </div>
        </div>
    </div> 

    <!-- Videos -->
    <div class="video">
        <div class="video_background"></div>
        <div class="container">
            <div class="row">
				<div class="col"><p class="titulo float-left">Videos</p></div>
			</div>
            <div class="row">
                 <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/manga.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/celebrity.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/business.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/hobbies.jpg') }}" alt=""></div>	
					</div>
				</div>
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/nature.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/travel.jpg') }}" alt=""></div>	
					</div>
				</div>        
            </div>
        </div>
    </div> 
{% endblock %}
