{% extends 'base.html.twig' %}

{% block body %} 
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op0").style.color="#F75A60";
            document.getElementById("op0t").style.color="white";
        }
    </script> 
    <!-- Home -->
	<div class="home">
		<div class="home_slider_container">		
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(img/categories/youtuber.jpg);"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Live Video Events Marketplace</div>
									<div class="home_slider_subtitle">Buy and sell access to videos and live online events</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                                <input type="search" class="home_search_input" placeholder="Search influencer name, live event, category, profession,skill,hobby,tag..." required="required">
                                                <button type="submit" hidden></button>
                                            </div>								   
                                        </form> 
									</div>
                                    <div class="fs-20 text-white p-t-10">Trending searches: influencer,instagram,fitness,love,house</div>								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Features -->
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class=" feature_introducion text-center">
                        {% if is_granted('ROLE_USER') == false %}
						<h2 class="titulo text_mobil_titulo ">You´re In</h2>
						<div class=" feature_text_intro text_mobil_subtitulo fs-25">
                            <div>Talk face-to-face with anyone online,</div>
                            <div>either in a private video meeting or live group evente</div>
                        </div>  
                        {% endif %}  
					</div>
				</div>
			</div>
			<div class="row features_row ">			
				<!-- Features Item -->
				<div class="col-md-4">
                     {% if is_granted('ROLE_USER') == false %}
					<div class="feature ">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura3.png') }}" />
						<h3 class="feature_title feature1 ">GET STARTED</h3>
						<div class="feature_text"><p class="float-left">Register your gotmy account & discover increible live video events</p></div>
                    </div>
                     {% endif %}
				</div>
				<!-- Features Item -->
				<div class="col-md-4">
                    {% if is_granted('ROLE_USER') == false %}  
					<div class="feature">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura1.png') }}" />
						<h3 class="feature_title feature2 ">GET ACCESS</h3>
						<div class="feature_text"><p class="float-left">Book an influencer,professional and skilled people after previewing their live group event or requesting a private video meeting</p></div>
					</div>
                     {% endif %}
				</div>

				<!-- Features Item -->
				<div class="col-md-4">
                    {% if is_granted('ROLE_USER') == false %}
					<div class="feature">
						<img class="feature_icon img-fluid " src="{{ asset('img/Captura2.png') }}" />
						<h3 class="feature_title feature3 ">GET THEIR ATTENTION</h3>
						<div class="feature_text"><p class="float-left">Engage,live,directly with the influencer, professional and skilled people in a small venue where your voice will be heard</p></div>
					</div>
                     {% endif %}
				</div>
			</div>
            <div class="row raya">
                {% if is_granted('ROLE_USER') == false %}
               <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>         
                 <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>
                <div class="col-md-4">
                    <p class="float-left"><img  class="pt-50" src="{{ asset('img/Captura4.png') }}" /></p>
                </div>
                 {% endif %}
            </div>	
        </div>
	</div>
    <!-- Live Events -->
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Live Online Events</p></div>
                {% include 'home/eventsCards/liveEvents.html.twig' %}
            </div>
        </div>
    </div> 
    <!-- Upcoming Events -->
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Upcoming Live  Events</p></div>
                {% include 'home/eventsCards/upcomingEvents.html.twig' %}                       
            </div>
        </div>
    </div></div>
    <!-- Discover Category -->
    <div class="category ">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p class="titulo float-left">Discover by Category</p></div>
                {% include 'home/eventsCards/category.html.twig' %}         
            </div>
        </div>
    </div> 

    <!-- Videos -->
    <div class="video">
        <div class="container">
            <div class="row">
				<div class="col-md-12"><p class="titulo float-left">Videos</p></div>
                {% include 'home/eventsCards/videos.html.twig' %}          
            </div>
        </div>
    </div> 
{% endblock %}
