<!--Last Influencers que hemos conectado entiendo-->
<div class="row m-l-20">
    <div class="col-md-12"><p class="titulo float-left">Last influencers</p></div>
    <div class="col-md-4">
        <a href="{{ path('viewerModeInfluencerProfil') }}">
            <div class="shadow m-t-20">
                <div class=" imgP text-center p-t-20"><img src="{{ asset('img/Captura18.png') }}" /></div>
                <div class="text-center">Stella Richardson</div>
                <div class="text-center p-b-20">
                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                    <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                    <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                </div>
            </div>
        </a> 
    </div> 
    <!--A partir de aqui se tendria que borrar en cuando se haga el FOR y se IMPRIME DE LA API-->   
                    <div class="col-md-4">
                        <div class="shadow m-t-20">                    
                            <div class="text-center p-t-20"><img src="{{ asset('img/Captura7.png') }}" /></div>
                            <div class="text-center">Amy Peters</div>
                            <div class="text-center p-b-20">
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="shadow m-t-20">
                            <div class="text-center p-t-20"><img src="{{ asset('img/Captura6.png') }}" /></div>
                            <div class="text-center">Bess Thornton</div>
                            <div class="text-center p-b-20">
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-4">
                        <div class="shadow m-t-20">                    
                            <div class="text-center p-t-20"><img src="{{ asset('img/Captura7.png') }}" /></div>
                            <div class="text-center">Amy Peters</div>
                            <div class="text-center p-b-20">
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="shadow m-t-20">
                            <div class="text-center p-t-20"><img src="{{ asset('img/Captura6.png') }}" /></div>
                            <div class="text-center">Bess Thornton</div>
                            <div class="text-center p-b-20">
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-4">
                        <div class="shadow m-t-20">                    
                            <div class="text-center p-t-20"><img src="{{ asset('img/Captura7.png') }}" /></div>
                            <div class="text-center">Amy Peters</div>
                            <div class="text-center p-b-20">
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span> 
                                <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>                                 
                            </div>
                        </div>
                    </div>
</div>  