<div class="container">
    <div class="row mt-n3">
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="{{ asset('img/Captura8.png') }}" /></div>      
        <div class="col-md-2"></div>
    </div>    
</div>
<!-- Private Meetings-->
<div class="meetings p-t-20  p-b-100">
    <div class="container">
        <div class="row m-t-25">             
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="col-md-12"><p class="titulo  float-left">Private Meeting Requests</p></div>
                    <div class="col-md-12">
                        <form action="#" id="search" class="search d-flex flex-md-row flex-column align-items-center justify-content-between">
                            <div class=" border d-flex flex-row align-items-center justify-content-start">
                                {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                <input type="search" class="search_input" placeholder="Search request.." required="required">
                                <button type="submit" hidden></button>
                            </div>								   
                        </form>                  
                    </div>
                    <div class="col-md-12">
                        <div class="row m-t-20">
                            <div class="col-md-2 p-t-10">
                                <a href="{{ path('viewerModeViewRequestMeeting') }}"><img class="rounded-circle" src="{{ asset('img/Captura18.png') }}" alt=""></a>
                            </div>
                            <div class="col-md-10 body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="pt-2 fs-20 text-dark font-weight-bold"><span>Stella Richardson</span></div>
                                        <div class="color_salmon"><a href="{{ path('viewerModeViewRequestMeeting') }}">State: Pending</a></div>
                                        <div class="color_gris pb-2 font-weight-bold"><p>Surprise for friend</p></div>
                                    </div>
                                    <div class="col-md-4 color_gris">
                                        <div class="font-weight-bold">Yesterday</div>
                                    </div>
                                </div> 
                                <hr/>                        
                            </div>        
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row m-t-20">
                            <div class="col-md-2 p-t-10"><img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt=""></div>
                            <div class="col-md-10 body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="pt-2 fs-20 text-dark font-weight-bold"><span>Bess Thornton</span></div>
                                        <div class="text-success"><a href="#">State: Confirmed</a></div>
                                        <div class="color_gris pb-2 font-weight-bold"><p>I would like to learn with you</p></div>
                                    </div>
                                    <div class="col-md-4 color_gris">
                                        <div class="font-weight-bold">Yesterday</div>
                                    </div>
                                </div> 
                                <hr/>                        
                            </div>        
                        </div>
                    </div>
                       
                </div>
            </div>
            <div class="col-md-6">
                {% include 'viewerMode/messages/messages_parts/lastInfluencers.html.twig' %}    
            </div>
        </div>
    </div>
</div> 