
    <!-- Past Events -->
    <div class="pasts p-t-20 p-b-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row m-t-25">
                        <div class="col-md-12"><p class="titulo float-left">Your Past Live Events</p></div>
                        <div class="col-md-6 video_col">
                           	<div class="video_item">
                                <div class="col-md-6 video_body">
                                    <div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
                                    <div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
                                    <div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
                                </div>
                                <div class="col-md-6 video_image"><img src="{{ asset('img/categories/manga.jpg') }}" alt=""></div>	
                            </div>
                        </div>
                        <div class="col-md-6 video_col">    
                            <div class="video_item">
                                <div class="col-md-6 video_body">
                                    <div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
                                    <div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
                                    <div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
                                </div>
                                <div class="col-md-6 video_image"><img src="{{ asset('img/categories/celebrity.jpg') }}" alt=""></div>	
                            </div>
                        </div> 
                        <div class="col-md-6 video_col">
                           	<div class="video_item">
                                <div class="col-md-6 video_body">
                                    <div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
                                    <div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
                                    <div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
                                </div>
                                <div class="col-md-6 video_image"><img src="{{ asset('img/categories/manga.jpg') }}" alt=""></div>	
                            </div>
                        </div>
                        <div class="col-md-6 video_col">    
                            <div class="video_item">
                                <div class="col-md-6 video_body">
                                    <div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
                                    <div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
                                    <div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
                                </div>
                                <div class="col-md-6 video_image"><img src="{{ asset('img/categories/celebrity.jpg') }}" alt=""></div>	
                            </div>
                        </div> 
                        <div class="col-md-6 video_col">    
                            <div class="video_item">
                                <div class="col-md-6 video_body">
                                    <div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
                                    <div class="font-weight-bold"><a href="#">A Right Media Mix Can Make The Difference</a></div>
                                    <div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
                                </div>
                                <div class="col-md-6 video_image"><img src="{{ asset('img/categories/celebrity.jpg') }}" alt=""></div>	
                            </div>
                        </div>   
                    </div>    
                </div>
                <div class="col-md-4 m-t-40" >
                    <div class="p-l-30">
                        <form action="#" id="search" class="search d-flex flex-md-row flex-column align-items-center justify-content-between">
                            <div class=" border d-flex flex-row align-items-center justify-content-start">
                                {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                <input type="search" class=" search_input" placeholder="Search live event.." required="required">
                                <button type="submit" hidden></button>
                            </div>								   
                        </form> 
                    </div>                         
                    <div class="calendario  p-l-30 m-t-50 " id="my-calendar">
                        <!-- Red theme -->
                         <div class="auto-jsCalendar red "></div>                                         
                    </div> 
                </div>                       
            </div>
        </div>
    </div> 