    <div class="container">
        <div class="row mt-n3">
            <div class="col-md-4"></div>     
            <div class="col-md-4"></div>
            <div class="col-md-4"><img src="{{ asset('img/Captura8.png') }}" /></div> 
        </div>    
    </div>
  <!-- Save Events -->
    <div class="save_events  p-t-20 p-b-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row m-t-25">
                        <div class="col-md-12"><p class="titulo float-left">Save for later</p></div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="cont-img-card">
                                    <img class="card-img-top" src="{{ asset('img/categories/nature.jpg') }}"/>                 
                                    <div class="icono-encima">
                                        <div>
                                            <div class="bookmark_favorit">{{source('@public_path'~asset('/img/iconos/ic-bookmark.svg')) }}</div>
                                        </div>
                                    </div>    
                                    <div class="row cuadro_encima">                                             
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6"><img src="{{ asset('img/Captura5.png') }}" /></div>
                                                <div class="col-md-6">
                                                    <p class="text-white">MandyJTV</p>
                                                    <p>
                                                        <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                    </p>
                                                </div>  
                                            </div>      
                                        </div>                             
                                        <div class="col-md-5 text-right">
                                            <p class="text-white fs-20 "><span class="star">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>34</p>
                                            <p class="text-white ">Only 2 tickets left</p>
                                        </div>                         
                                    </div>
                                </div>                    
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="float-left">
                                                <div class="font-weight-bold">21</div>
                                                <div class="font-weight-bold  color_salmon">DEC</div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-text">
                                                <div class="font-weight-bold ">String Live Event Title</div>
                                                <div class="color_salmon">Games</div> 
                                                <div class="map fs-15">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Live from New York,at 18:30</div>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="cont-img-card ">
                                    <img class="card-img-top" src="{{ asset('img/categories/travel.jpg') }}"/>                 
                                    <div class="icono-encima">
                                        <div>
                                            <div class="bookmark_favorit">{{source('@public_path'~asset('/img/iconos/ic-bookmark.svg')) }}</div>
                                        </div>
                                    </div>    
                                    <div class="row cuadro_encima">                                             
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6"><img src="{{ asset('img/Captura5.png') }}" /></div>
                                                <div class="col-md-6">
                                                    <p class="text-white">MandyJTV</p>
                                                    <p>
                                                        <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="star size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                        <span class="map size_iconStar">{{source('@public_path'~asset('/img/iconos/ic-star.svg')) }}</span>
                                                    </p>
                                                </div>  
                                            </div>      
                                        </div>                             
                                        <div class="col-md-5 text-right">
                                            <p class="text-white fs-20 "><span class="star">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>34</p>
                                            <p class="text-white ">Only 2 tickets left</p>
                                        </div>                         
                                    </div>
                                </div>                    
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="float-left">
                                                <div class="font-weight-bold">21</div>
                                                <div class="font-weight-bold  color_salmon">DEC</div>
                                            </div>            
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-text">
                                                <div class="font-weight-bold ">String Live Event Title</div>
                                                <div class="color_salmon">Games</div> 
                                                <div class="map fs-15">{{source('@public_path'~asset('/img/iconos/ic-map.svg')) }}Live from New York,at 18:30</div>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>    
                </div>
                <div class="col-md-4 m-t-40" >
                    <div class="p-l-30">
                        <form action="#" id="search" class="search d-flex flex-md-row flex-column align-items-center justify-content-between">
                            <div class=" border d-flex flex-row align-items-center justify-content-start">
                                {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                <input type="search" class=" search_input" placeholder="Search live event.." required="required">
                                <button type="submit" hidden></button>
                            </div>								   
                        </form> 
                    </div>                         
                    <div class="calendario  p-l-30 m-t-50 " id="my-calendar">
                        <!-- Red theme -->
                         <div class="auto-jsCalendar red "></div>                                         
                    </div> 
                </div>                       
            </div>
        </div>
    </div> 