<!--CARD VIDEOS-->

<!-- Video Item -->
<div class="col-md-4 video_col">
	<div class="video_item">
        <a {% if is_granted('ROLE_USER')%}href="{{ path('viewerModeEvents_eventVideoId') }}" {% endif %}>
			<div class="col-md-6 video_body">
				<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
				<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
				<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
			</div>
			<div class="col-md-6 video_image"><img src="{{ asset('img/categories/cooking.jpg') }}" alt=""></div>	
		</a>
    </div>
</div> 

<!--A partir de aqui se tendria que borrar en cuando se haga el FOR y se IMPRIME DE LA API-->
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/celebrity.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/business.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/hobbies.jpg') }}" alt=""></div>	
					</div>
				</div>
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/nature.jpg') }}" alt=""></div>	
					</div>
				</div> 
                  <!-- Video Item -->
             	<div class="col-md-4 video_col">
					<div class="video_item">
						<div class="col-md-6 video_body">
							<div class=" pt-2 color_gris"><p>Monday,18/12/2018</p></div>
							<div class="font-weight-bold"><p>A Right Media Mix Can Make The Difference</p></div>
							<div class="color_salmon pb-2"><p>Nature,Outdoors & Oets</p></div>
						</div>
						<div class="col-md-6 video_image"><img src="{{ asset('img/categories/travel.jpg') }}" alt=""></div>	
					</div>
				</div>  