<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="navbar-brand fs-80 font-weight-bold">
        <span class="mr-n4" >g</span>
        <img class="img-fluid imglogo" src="{{ asset('Simbolo/GotMy-whiteIcon.png','imagenlogo') }}" />
        <span class="ml-n4 mr-n4">t</span>
        <span class="my">my</span>
    </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent"> 
        <ul class="navbar-nav  text-center">
            <li class="nav-item" >
                <a class="size_iconNav"id="op0" href="{{ path('index') }}">{{source('@public_path'~asset('/img/iconos/ic-discover.svg')) }}</a>
                <a class="nav-link " id="op0t" href="{{ path('index') }}">Discover <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op1" {% if is_granted('ROLE_USER') %}href="{{ path('viewerModeSearch') }}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}</a>
                <a class="nav-link" id="op1t" {% if is_granted('ROLE_USER') %}href="{{ path('viewerModeSearch') }}"{% endif %}>Search</a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op2"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeEvents')}}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-event.svg')) }}</a>
                <a class="nav-link" id="op2t"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeEvents')}}"{% endif %}>Live Events</a>
            </li>
            <li class="nav-item ">
                <a class="size_iconNav" id="op3"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeMessages')}}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-mensajes.svg')) }}</a>
                <a class="nav-link" id="op3t"  {% if is_granted('ROLE_USER') %} href="{{path('viewerModeMessages')}}"{% endif %}>Menssages</a>
            </li>
            <li class="nav-item ">
                <a class="size_iconNav" id="op4" href="#">{{source('@public_path'~asset('/img/iconos/ic-activity.svg')) }}</a>
                <a class="nav-link" id="op4t" href="#" {% if is_granted('ROLE_USER') %}tabindex="0" rel="popover" data-placement="bottom" data-toggle="popover" data-trigger="focus"{% endif %}>Activity</a>
            </li>
        </ul> 
    </div> 
    <div>  
        <form class="form-inline my-2 my-lg-0">
             {% if is_granted('ROLE_USER') %}
                <div class="float-right">
                    <a class="nav-link text-white" href="{{ path('index') }}">{{ app.user.name}}</a>       
                    <a class="nav-link text-secondary" href="{{ path('security_logout') }}">Deconectate</a>  
                </div> 
                <img class="rounded-circle mr-n5" style="width:25%;" src="{{ asset('img/imgUser.jpg') }}"/>                           
            {% else %}
                <a class="join fs-20 px-5 pt-2 pb-3 text-white float-right" href="{{ path('security_login') }}">Join gotmy for FREE</a>
            {% endif %}
        </form>  
    </div> 
</nav>

<!-- Content for Popover  -->
<div class="popover d-none" id="popover_content">
    <div class="data-content" >  
        <div class="container">  
            <div class="row m-t-15">
                <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>   
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>     
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                     <hr/>     
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>     
                </div>
                <div class="col-md-12">
                    <div class="color_salmon text-center fs-15 p-b-15"><a href="#">Show all notificacions</a></div>
                </div>
            </div>                                    
        </div>         
    </div>
</div>   

