<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="navbar-brand p-l-10 fs-80 font-weight-bold">
        <span class="mr-n4" >g</span>
        <img class="img-fluid imglogo" src="{{ asset('Simbolo/GotMy-whiteIcon.png','imagenlogo') }}" />
        <span class="ml-n4 mr-n4">t</span>
        <span class="my">my</span>
    </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent"> 
        <ul class="navbar-nav  text-center">
            <li class="nav-item" >
                <a class="size_iconNav"id="op0" href="{{ path('index') }}">{{source('@public_path'~asset('/img/iconos/ic-discover.svg')) }}</a>
                <a class="nav-link " id="op0t" href="{{ path('index') }}">Discover <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op1" {% if is_granted('ROLE_USER') %}href="{{ path('viewerModeSearch') }}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}</a>
                <a class="nav-link" id="op1t" {% if is_granted('ROLE_USER') %}href="{{ path('viewerModeSearch') }}"{% endif %}>Search</a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op2"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeEvents')}}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-event.svg')) }}</a>
                <a class="nav-link" id="op2t"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeEvents')}}"{% endif %}>Live Events</a>
            </li>
            <li class="nav-item ">
                <a class="size_iconNav" id="op3"  {% if is_granted('ROLE_USER') %}href="{{path('viewerModeMessages')}}"{% endif %}>{{source('@public_path'~asset('/img/iconos/ic-mensajes.svg')) }}</a>
                <a class="nav-link" id="op3t"  {% if is_granted('ROLE_USER') %} href="{{path('viewerModeMessages')}}"{% endif %}>Menssages</a>
            </li>
            <li class="nav-item ">
                <a id="op4" {% if is_granted('ROLE_USER') %}tabindex="0" rel="popover" data-placement="bottom" data-toggle="popover" {% endif %} href="#" >
                    <span class="size_iconNav" href="#">{{source('@public_path'~asset('/img/iconos/ic-activity.svg')) }}</span>
                    <span class="nav-link" id="op4t" href="#" >Activity</span>
                </a>    
            </li>
        </ul> 
    </div> 
    <div>  
        <form class="form-inline my-2 my-lg-0">
             {% if is_granted('ROLE_USER') %}
                <a tabindex="0" rel="popoverViewerMode" data-placement="bottom" data-toggle="popoverViewerMode" href="#">
                    <div class="float-right p-r-20">
                        <span class="text-white">{{ app.user.name}}</span></br>       
                        <span class="text-secondary">Viewer mode</span>  
                    </div> 
                </a>    
                <img class="rounded-circle mr-n5" style="width:25%;" src="{{ asset('img/imgUser.jpg') }}"/>                           
            {% else %}
                <a class="join fs-20 px-5 pt-2 pb-3 text-white float-right" href="{{ path('security_login') }}">Join gotmy for FREE</a>
            {% endif %}
        </form>  
    </div> 
</nav>

<!-- Content for Popover  -->
<div class="popover d-none" id="popover_content">
    <div class="data-content" >  
        <div class="container">  
            <div class="row m-t-15">
                <div class="activity_item">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                            <hr/> 
                        </div> 
                    </div>                   
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                            <hr/> 
                        </div> 
                    </div>    
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                            <hr/> 
                        </div> 
                    </div>     
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                            <hr/> 
                        </div> 
                    </div>   
                </div>
                <div class="col-md-12">
                    <div class="color_salmon text-center fs-15 p-b-15"><a href="#">Show all notificacions</a></div>
                </div>
            </div>                                    
        </div>         
    </div>
</div> 

<!-- Content for popoverViewerMode  -->
<div class="popoverViewerMode d-none" id="popoverViewerMode_content">
    <div class="data-content" >  
        <div class="container">  
            <div class="row">
                <div class="col-md-12 viewerMode_item p-t-20 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-user.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>My Viewer Profile</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 viewerMode_item p-t-10 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-edit.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Edit Profile</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 viewerMode_item p-t-10 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-ganancia.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Payment Methods</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 viewerMode_item p-t-10 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-billing.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Biling</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 viewerMode_item p-t-10 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-settings.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Settings</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 viewerMode_item p-t-10 p-b-10">
                    <div class="row">
                        <div class="col-md-2">
                           <span class="color_salmon">{{source('@public_path'~asset('/img/iconos/ic-help.svg')) }}</span>
                        </div>
                        <div class="col-md-10">
                            <div class="fs-15 text-dark"><span>Help</span></div>
                        </div> 
                    </div>                   
                </div>
                <div class="col-md-12 p-t-10 p-b-10">
                    <a class="join fs-20 px-5 pt-2 pb-3 text-white " href="#">Become an influencer</a>
                </div>
                <div class="col-md-12 p-t-10 p-b-10">
                    <a  href="{{ path('security_logout') }}"><span class="color_salmon fs-20 m-l-30">Log Out</span></a> 
                </div>
            </div>                                    
        </div>         
    </div>
</div> 

