<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="navbar-brand fs-80 font-weight-bold">
        <span class="mr-n4" >g</span>
        <img class="img-fluid imglogo" src="{{ asset('Simbolo/GotMy-whiteIcon.png','imagenlogo') }}" />
        <span class="ml-n4 mr-n4">t</span>
        <span class="my">my</span>
    </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent"> 
        <ul class="navbar-nav  text-center">
            <li class="nav-item" >
                <a class="size_iconNav"id="op0" href="{{ path('index') }}">{{source('@public_path'~asset('/img/iconos/ic-discover.svg')) }}</a>
                <a class="nav-link " id="op0t" href="{{ path('index') }}">Discover <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op1" href="{{ path('viewerModeSearch') }}">{{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}</a>
                <a class="nav-link" id="op1t"href="{{ path('viewerModeSearch') }}">Search</a>
            </li>
            <li class="nav-item" >
                <a class="size_iconNav" id="op2" href="{{path('viewerModeEvents')}}">{{source('@public_path'~asset('/img/iconos/ic-event.svg')) }}</a>
                <a class="nav-link" id="op2t" href="{{path('viewerModeEvents')}}">Live Events</a>
            </li>
            <li class="nav-item ">
                <a class="size_iconNav" id="op3" href="{{path('viewerModeMessages')}}">{{source('@public_path'~asset('/img/iconos/ic-mensajes.svg')) }}</a>
                <a class="nav-link" id="op3t" href="{{path('viewerModeMessages')}}">Menssages</a>
            </li>
            <li class="nav-item ">
                <a class="size_iconNav" id="op4" href="#">{{source('@public_path'~asset('/img/iconos/ic-activity.svg')) }}</a>
                <a tabindex="0" class="nav-link" id="op4t" href="#" rel="popover" data-placement="bottom" data-toggle="popover" data-trigger="focus">Activity</a>
            </li>
        </ul> 
    </div> 
    <div>    
        <a class="join fs-20 px-5 pt-2 pb-3 text-white float-right" >Join gotmy for FREE</a>
    </div> 
</nav>

<!-- Content for Popover  -->
<div class="popover d-none" id="popover_content">
    <div class="data-content" >  
        <div class="container">  
            <div class="row m-t-15">
                <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>   
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>     
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura7.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                     <hr/>     
                </div>
                 <div class="activity_item">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle" src="{{ asset('img/Captura6.png') }}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="fs-15 text-dark"><span>Bess Thornton</span></div>
                            <div class="color_gris ">Yesterday</div>
                        </div> 
                    </div> 
                    <hr/>     
                </div>
                <div class="col-md-12">
                    <div class="color_salmon text-center fs-15 p-b-15"><a href="#">Show all notificacions</a></div>
                </div>
            </div>                                    
        </div>         
    </div>
</div>   

